$brand-font: 'Ephesis', cursive;
$title-font: 'Merriweather', serif;
$primary-font: 'Mukta', sans-serif;

//Colores
$primary-dark-color:#3F4775;
$primary-light-color: #8493F5;
$secondary-dark-color: #6975C2;
$secondary-light-color: #CFD4F7;
$dark-color: #000;
$light-color: #fff;
$aux-color: #787A87;

//Media queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;
