header {
  background-color: $primary-light-color;
  .header-content {
    padding: 1rem 0;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  h1 {
    color: $light-color;
    margin-bottom: 1rem;
    text-align: center;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    box-shadow: 0 0.3rem 1rem #444;
  }
}
.navbar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  a {
    color: $light-color;
    font-size: 2rem;
    &:hover {
      color: $primary-dark-color;
    }
  }
}
